n8n/workflows/01-health-check.json
{
  "name": "🔍 AI Providers — Health Check (All 7)",
  "nodes": [
    {
      "parameters": {},
      "id": "hc-trigger",
      "name": "Run Health Check",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [160, 560]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Reply with ONLY valid JSON, no markdown: {\"provider\":\"OpenAI\",\"model\":\"gpt-4o-mini\",\"status\":\"online\"}"
      },
      "id": "hc-chain-openai",
      "name": "Chain — OpenAI",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [440, 80]
    },
    {
      "parameters": { "model": "gpt-4o-mini", "options": { "maxTokens": 80 } },
      "id": "hc-model-openai",
      "name": "GPT-4o-mini",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [660, 80],
      "credentials": { "openAiApi": { "id": "openai-01", "name": "OpenAI API" } }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Reply with ONLY valid JSON, no markdown: {\"provider\":\"Anthropic\",\"model\":\"claude-haiku-4-5\",\"status\":\"online\"}"
      },
      "id": "hc-chain-anthropic",
      "name": "Chain — Anthropic",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [440, 240]
    },
    {
      "parameters": { "model": "claude-haiku-4-5-20251001", "options": { "maxTokens": 80 } },
      "id": "hc-model-anthropic",
      "name": "Claude Haiku",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [660, 240],
      "credentials": { "anthropicApi": { "id": "anthropic-01", "name": "Anthropic API" } }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Reply with ONLY valid JSON, no markdown: {\"provider\":\"Google Gemini\",\"model\":\"gemini-2.0-flash\",\"status\":\"online\"}"
      },
      "id": "hc-chain-gemini",
      "name": "Chain — Gemini",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [440, 400]
    },
    {
      "parameters": { "modelName": "models/gemini-2.0-flash", "options": {} },
      "id": "hc-model-gemini",
      "name": "Gemini Flash",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [660, 400],
      "credentials": { "googlePalmApi": { "id": "google-01", "name": "Google AI" } }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Reply with ONLY valid JSON, no markdown: {\"provider\":\"Mistral\",\"model\":\"mistral-small-latest\",\"status\":\"online\"}"
      },
      "id": "hc-chain-mistral",
      "name": "Chain — Mistral",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [440, 560]
    },
    {
      "parameters": { "model": "mistral-small-latest", "options": {} },
      "id": "hc-model-mistral",
      "name": "Mistral Small",
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [660, 560],
      "credentials": { "mistralCloudApi": { "id": "mistral-01", "name": "Mistral AI" } }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Reply with ONLY valid JSON, no markdown: {\"provider\":\"Groq\",\"model\":\"llama-3.3-70b-versatile\",\"status\":\"online\"}"
      },
      "id": "hc-chain-groq",
      "name": "Chain — Groq",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [440, 720]
    },
    {
      "parameters": { "model": "llama-3.3-70b-versatile", "options": {} },
      "id": "hc-model-groq",
      "name": "Groq Llama",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [660, 720],
      "credentials": { "groqApi": { "id": "groq-01", "name": "Groq" } }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Reply with ONLY valid JSON, no markdown: {\"provider\":\"Ollama\",\"model\":\"qwen2.5:32b\",\"status\":\"online\"}"
      },
      "id": "hc-chain-ollama",
      "name": "Chain — Ollama",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [440, 880]
    },
    {
      "parameters": { "model": "qwen2.5:32b", "baseUrl": "http://204.168.143.98:11434", "options": {} },
      "id": "hc-model-ollama",
      "name": "Ollama Qwen",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [660, 880]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Reply with ONLY valid JSON, no markdown: {\"provider\":\"Cohere\",\"model\":\"command-r-plus-08-2024\",\"status\":\"online\"}"
      },
      "id": "hc-chain-cohere",
      "name": "Chain — Cohere",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [440, 1040]
    },
    {
      "parameters": { "model": "command-r-plus-08-2024", "options": {} },
      "id": "hc-model-cohere",
      "name": "Cohere Command-R+",
      "type": "@n8n/n8n-nodes-langchain.lmCohere",
      "typeVersion": 1,
      "position": [660, 1040],
      "credentials": { "cohereApi": { "id": "cohere-01", "name": "Cohere" } }
    },
    {
      "parameters": { "mode": "append", "numberInputs": 7 },
      "id": "hc-merge",
      "name": "Merge All Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [940, 560]
    },
    {
      "parameters": {
        "jsCode": "const all = $input.all();\nconst results = all.map((item, i) => {\n  const raw = item.json.text || item.json.output || JSON.stringify(item.json);\n  let parsed = {};\n  try { parsed = JSON.parse(raw.trim()); } catch { parsed = { provider: `Provider_${i+1}`, status: 'online' }; }\n  return { index: i+1, provider: parsed.provider || 'Unknown', model: parsed.model || '—', status: parsed.status || 'online' };\n});\nreturn [{ json: {\n  timestamp: new Date().toISOString(),\n  total: results.length,\n  online: results.filter(r => r.status === 'online').length,\n  providers: results,\n  summary: results.map(r => `${r.provider}: ${r.status}`).join(' | ')\n}}];"
      },
      "id": "hc-format",
      "name": "Format Status Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 560]
    }
  ],
  "connections": {
    "Run Health Check": { "main": [[
      { "node": "Chain — OpenAI", "type": "main", "index": 0 },
      { "node": "Chain — Anthropic", "type": "main", "index": 0 },
      { "node": "Chain — Gemini", "type": "main", "index": 0 },
      { "node": "Chain — Mistral", "type": "main", "index": 0 },
      { "node": "Chain — Groq", "type": "main", "index": 0 },
      { "node": "Chain — Ollama", "type": "main", "index": 0 },
      { "node": "Chain — Cohere", "type": "main", "index": 0 }
    ]] },
    "GPT-4o-mini":       { "ai_languageModel": [[{ "node": "Chain — OpenAI",    "type": "ai_languageModel", "index": 0 }]] },
    "Claude Haiku":      { "ai_languageModel": [[{ "node": "Chain — Anthropic", "type": "ai_languageModel", "index": 0 }]] },
    "Gemini Flash":      { "ai_languageModel": [[{ "node": "Chain — Gemini",    "type": "ai_languageModel", "index": 0 }]] },
    "Mistral Small":     { "ai_languageModel": [[{ "node": "Chain — Mistral",   "type": "ai_languageModel", "index": 0 }]] },
    "Groq Llama":        { "ai_languageModel": [[{ "node": "Chain — Groq",     "type": "ai_languageModel", "index": 0 }]] },
    "Ollama Qwen":       { "ai_languageModel": [[{ "node": "Chain — Ollama",   "type": "ai_languageModel", "index": 0 }]] },
    "Cohere Command-R+": { "ai_languageModel": [[{ "node": "Chain — Cohere",   "type": "ai_languageModel", "index": 0 }]] },
    "Chain — OpenAI":    { "main": [[{ "node": "Merge All Results", "type": "main", "index": 0 }]] },
    "Chain — Anthropic": { "main": [[{ "node": "Merge All Results", "type": "main", "index": 1 }]] },
    "Chain — Gemini":    { "main": [[{ "node": "Merge All Results", "type": "main", "index": 2 }]] },
    "Chain — Mistral":   { "main": [[{ "node": "Merge All Results", "type": "main", "index": 3 }]] },
    "Chain — Groq":      { "main": [[{ "node": "Merge All Results", "type": "main", "index": 4 }]] },
    "Chain — Ollama":    { "main": [[{ "node": "Merge All Results", "type": "main", "index": 5 }]] },
    "Chain — Cohere":    { "main": [[{ "node": "Merge All Results", "type": "main", "index": 6 }]] },
    "Merge All Results": { "main": [[{ "node": "Format Status Report", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "id": "ai-health-check-nemoclaw",
  "meta": { "templateCredsSetupCompleted": false }
}
