n8n/workflows/03-ai-ensemble.json
{
  "name": "🎶 AI Ensemble — 3 Providers in Parallel",
  "nodes": [
    { "parameters": { "httpMethod": "POST", "path": "ai-ensemble", "responseMode": "responseNode", "options": {} }, "id": "ensemble-webhook", "name": "POST /ai-ensemble", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [160, 360], "webhookId": "nemoclaw-ai-ensemble" },
    { "parameters": { "jsCode": "const body = $input.first().json.body || $input.first().json;\nreturn [{ json: { query: body.query || body.prompt || 'Hello', system_prompt: body.system_prompt || '' }}];" }, "id": "ensemble-extract", "name": "Extract Query", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [360, 360] },
    { "parameters": { "promptType": "define", "text": "={{ $('Extract Query').first().json.query }}" }, "id": "ensemble-chain-openai", "name": "Chain — OpenAI", "type": "@n8n/n8n-nodes-langchain.chainLlm", "typeVersion": 1.4, "position": [580, 120] },
    { "parameters": { "model": "gpt-4o", "options": { "maxTokens": 1500 } }, "id": "ensemble-model-openai", "name": "GPT-4o", "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi", "typeVersion": 1.2, "position": [800, 120], "credentials": { "openAiApi": { "id": "openai-01", "name": "OpenAI API" } } },
    { "parameters": { "promptType": "define", "text": "={{ $('Extract Query').first().json.query }}" }, "id": "ensemble-chain-anthropic", "name": "Chain — Anthropic", "type": "@n8n/n8n-nodes-langchain.chainLlm", "typeVersion": 1.4, "position": [580, 360] },
    { "parameters": { "model": "claude-sonnet-4-6", "options": { "maxTokens": 1500 } }, "id": "ensemble-model-anthropic", "name": "Claude Sonnet", "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic", "typeVersion": 1.3, "position": [800, 360], "credentials": { "anthropicApi": { "id": "anthropic-01", "name": "Anthropic API" } } },
    { "parameters": { "promptType": "define", "text": "={{ $('Extract Query').first().json.query }}" }, "id": "ensemble-chain-gemini", "name": "Chain — Gemini", "type": "@n8n/n8n-nodes-langchain.chainLlm", "typeVersion": 1.4, "position": [580, 600] },
    { "parameters": { "modelName": "models/gemini-2.0-flash", "options": {} }, "id": "ensemble-model-gemini", "name": "Gemini Flash", "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini", "typeVersion": 1, "position": [800, 600], "credentials": { "googlePalmApi": { "id": "google-01", "name": "Google AI" } } },
    { "parameters": { "mode": "append", "numberInputs": 3 }, "id": "ensemble-merge", "name": "Merge Responses", "type": "n8n-nodes-base.merge", "typeVersion": 3.2, "position": [1040, 360] },
    { "parameters": { "jsCode": "const all = $input.all();\nconst providers = ['OpenAI (GPT-4o)', 'Anthropic (Claude)', 'Google (Gemini)'];\nconst responses = all.map((item, i) => ({ provider: providers[i] || `Provider ${i+1}`, response: item.json.text || item.json.output || '' }));\nreturn [{ json: { query: $('Extract Query').first().json.query, timestamp: new Date().toISOString(), responses, count: responses.length }}];" }, "id": "ensemble-aggregate", "name": "Aggregate Responses", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1240, 360] },
    { "parameters": { "respondWith": "json", "responseBody": "={{ JSON.stringify($json) }}" }, "id": "ensemble-respond", "name": "Respond to Webhook", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [1440, 360] }
  ],
  "connections": {
    "POST /ai-ensemble": { "main": [[{ "node": "Extract Query", "type": "main", "index": 0 }]] },
    "Extract Query": { "main": [[
      { "node": "Chain — OpenAI", "type": "main", "index": 0 },
      { "node": "Chain — Anthropic", "type": "main", "index": 0 },
      { "node": "Chain — Gemini", "type": "main", "index": 0 }
    ]] },
    "GPT-4o": { "ai_languageModel": [[{ "node": "Chain — OpenAI", "type": "ai_languageModel", "index": 0 }]] },
    "Claude Sonnet": { "ai_languageModel": [[{ "node": "Chain — Anthropic", "type": "ai_languageModel", "index": 0 }]] },
    "Gemini Flash": { "ai_languageModel": [[{ "node": "Chain — Gemini", "type": "ai_languageModel", "index": 0 }]] },
    "Chain — OpenAI": { "main": [[{ "node": "Merge Responses", "type": "main", "index": 0 }]] },
    "Chain — Anthropic": { "main": [[{ "node": "Merge Responses", "type": "main", "index": 1 }]] },
    "Chain — Gemini": { "main": [[{ "node": "Merge Responses", "type": "main", "index": 2 }]] },
    "Merge Responses": { "main": [[{ "node": "Aggregate Responses", "type": "main", "index": 0 }]] },
    "Aggregate Responses": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "id": "ai-ensemble-nemoclaw",
  "meta": { "templateCredsSetupCompleted": false }
}
